*{
    padding: 0;
    margin: 0;
}

h1{
    text-align: center;
}
.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(to left,rgb(81, 228, 81), rgb(94, 94, 94));
    padding-top: 10px;
}

p{
    font-size: 13px;
}

.sidebar li a{
    padding: 15px 10px;
    text-decoration: none;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: block;
    padding-left: 20px;

}

.sidebar li a:hover {
    background-color:rgb(81, 228, 81);
    cursor: pointer;
    color: black;
}

.dp-image img{
    height: 98px;
    width: 98px;
    border-radius: 1000px;
    margin-left: 20px;
}

.online-name{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-left: 15px;
    margin-top: 10px;
}

.content{
    margin-top: 80px;
    margin-left: 210px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

.box-0{
    background-color: rgb(213, 0, 0);
    padding: 20px;
    border-radius: 8px;
    width: 210px;
    color: whitesmoke;
}

.box-1{
    background-color: rgb(0, 90, 0);
    padding: 20px;
    border-radius: 8px;
    width: 210px;
    color: whitesmoke;
}

.box-2{
    background-color: rgb(0, 0, 184);
    padding: 20px;
    border-radius: 8px;
    width: 210px;
    color: whitesmoke;
}

.box-3{
    background-color: rgb(94, 94, 94);
    padding: 20px;
    border-radius: 8px;
    width: 210px;
    color: whitesmoke;
}

.content p{
    font-size: 30px;
    font-weight: bold;
}

.content h3{

    text-align: center;
}

.content a{
    text-decoration: none;
    color: white;
}

.form-button{
    border: none;
    background: linear-gradient(to left,rgb(81, 228, 81), rgb(94, 94, 94));
}

.form-button button{
    padding: 10px 23px;
    border-radius: 20px;
    border: none;
    box-shadow: 0 2px 5px rgb(81, 228, 81);
}

.form-button button:hover{
    cursor: pointer;
    background-color: rgb(94, 94, 94);
    color: white;
}





    

