* {
  margin: 0;
  padding: 0;
}

.card{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-left: 10px;
}

div .image {
  width: 22.8%;
  margin-left: 4px;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

div .image img {
  width: 100%;
  height: 200px;
}

div .image{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14.3px;
  padding: 5px;
}

.p-style{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14.3px;
  padding: 5px;
}

.ap-button a{
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.ap-button button{
  width: 99%;
  height: 38px;
  border-radius: 3px;
  border: 1px solid grey;
  margin-bottom: 5px;
}

.ap-button button:hover{
  cursor: pointer;
  background-color:  rgb(81, 228, 81);
}

.attachment{
  display: flex;
}