*{
    margin: 0;
    padding: 0;
}

body{
    background-color: aliceblue;
}

.reg-form{
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    text-align: center;
}

.reg-form input{
    padding: 8px 100px;
}

div .dropbox{
    padding: 7px 80px;
    opacity: 0.7;
}

div .divdrop{
    display: flex;
  justify-content: center;
}

div select option{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

div select option:hover{
    color: black;
    cursor: pointer;
    background-color: rgb(81, 228, 81);
}

form{
    border: solid;
    padding: 30px;
    padding-top: 10px;
    border-radius: 5px;
    background-color: white;
}

.navbar{
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color:rgb(81, 228, 81);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14.5px;
    position: fixed;
}

.navbar ul{
    list-style-type: none;
    text-align: right;
    margin-right: 10px;
}

.navbar li{
    display: inline;
}

.navbar li:hover{
    opacity: 0.7;
}

.navbar button{
    padding: 8px 18px;
    margin-right: 7px;
    background: rgb(39, 39, 39);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;  
}

.navbar button:hover {
    cursor: pointer;
    opacity: 0.7px;
}

.navbar a{
    text-decoration: none;
    color:black;
    padding: 5px;
}

.navbar .special-li{
    color: red;
    float: left;
    font-size: 12px;
}

.reg-form button{
    background-color: rgb(81, 228, 81);
    padding: 8px 200px;
    border-radius: 5px;
    font-size: 14px;
    border: 0cap;
    margin-left: 140px;
}

.reg-form button:hover{
    opacity: 0.9;
    cursor: pointer;
}

.reg-form p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
}

.reg-form span{
    opacity: 0.7;
}